[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "vim/pack/vendor/start/ale"]
	path = vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/vendor/start/auto-pairs"]
	path = vim/pack/vendor/start/auto-pairs
	url =  https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/pack/vendor/start/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/vendor/start/java-syntax.vim"]
	path = vim/pack/vendor/start/java-syntax.vim
	url = https://github.com/uiiaoo/java-syntax.vim.git
[submodule "vim/pack/vendor/start/vim-c-cpp-modern"]
	path = vim/pack/vendor/start/vim-c-cpp-modern
	url = https://github.com/bfrg/vim-c-cpp-modern.git
[submodule "vim/pack/vendor/start/vim-commentary"]
	path = vim/pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/vendor/start/vim-polyglot"]
	path = vim/pack/vendor/start/vim-polyglot
	url =  https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/github/start/copilot.vim"]
	path = vim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "shell/plugins/dircolors-solarized"]
	path = shell/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git  
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git  
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "vim/pack/vendor/start/coc.nvim"]
	path = vim/pack/vendor/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/pack/vendor/start/vim/pack/vendor/start/vim-markdown.git"]
	path = vim/pack/vendor/start/vim/pack/vendor/start/vim-markdown.git
	url = https://github.com/preservim/vim-markdown.git
[submodule "vim/pack/vendor/start/vim/pack/vendor/start/tabular"]
	path = vim/pack/vendor/start/vim/pack/vendor/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/vendor/start/vim/pack/vendor/start/github-nvim-theme"]
	path = vim/pack/vendor/start/vim/pack/vendor/start/github-nvim-theme
	url = https://github.com/projekt0n/github-nvim-theme.git
[submodule "vim/pack/vendor/start/vim/pack/vendor/start/rust.vim"]
	path = vim/pack/vendor/start/vim/pack/vendor/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
